#task {
  width: 90%;
}



#add {
  vertical-align: middle;
}

.center_all {
  margin: auto;
  width: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex: 1;
}
